In [1]:
import numpy as np
import pandas as pd
import quantecon as qe
from ast import literal_eval
from sklearn.ensemble import RandomForestRegressor

In [2]:
def creating_samples(samples_number, element):
    gen=0
    uniform_number = len(element)
    uniform_samples = (-qe.simplex_grid(len(element), 1)+1)/(len(element)-1)
    if samples_number > uniform_number:
        random_samples = np.random.rand((samples_number-uniform_number), len(element))
        for i in range(samples_number-uniform_number):
            random_samples[i] = np.around(random_samples[i]/sum(random_samples[i]), decimals = 3)
        sample = np.vstack((uniform_samples, random_samples))
    else:
        sample = uniform_samples[:samples_number]
    samples = []
    for i in range(samples_number):
        samples.append(list(sample[i]))
    samples = np.array(samples)
    generation = []
    for i in range (samples_number):
            generation.append(gen)

    ID = np.arange(1, (samples_number+1))

    data = {'ID' : ID, 'Elements': [element], 'Generation': generation}
    df = pd.DataFrame(data=data, index = np.arange(samples_number))
    df = pd.concat([df, pd.DataFrame(([[i] for i in samples]), columns = ['Position'])], axis = 1)
    df.to_csv("Result/Initial Population.txt", sep='\t', index=False, mode='w')
    return df

In [3]:
#Loading data and fitting
df_old = pd.read_csv('Data/AuIrOsPdPtReRhRu_0.60_compositions_and_targets.csv')
X_columns_old = ['Pt','Pd','Au','Ru','Rh','Ir','Re','Os']
x_old = df_old[X_columns_old].to_numpy()
y_old = df_old['current_over_capacitance'].to_numpy()

#Rndom Forest Regression
reg = RandomForestRegressor(n_estimators = 1024,
                           bootstrap = True,
                           max_depth = None,
                           max_features = 'auto',
                           min_samples_leaf = 1,
                           min_samples_split = 2,
                           oob_score = True)
reg = reg.fit(x_old, y_old)

In [4]:
#Determine the best position
grid = qe.simplex_grid(3, 100)/100
zeros = np.zeros(len(grid)).reshape(-1,1)

grid = np.concatenate((grid, zeros), axis=1)
grid = np.concatenate((grid, zeros), axis=1)
grid = np.concatenate((grid, zeros), axis=1)
grid = np.concatenate((grid, zeros), axis=1)
grid = np.concatenate((grid, zeros), axis=1)
grid = pd.DataFrame(grid,columns=[X_columns_old])
grid['Activity'] = reg.predict(grid.to_numpy())
best_grid = grid.iloc[np.argmin(grid['Activity'])][0:3].to_numpy()

In [38]:
#Making Class
class pso:
    def __init__ (self, data, step, target = np.array([0.333, 0.333, 0.333])):
        self.datalog = data
        #Reading "Elements" columns from string to list
        self.datalog['Elements'] = self.datalog["Elements"].apply(lambda x: literal_eval(x))
        
        #Select latest generation
        self.generation = self.datalog['Generation'].max()
        
        #Creating np.array of "Position" column and dropping the string type "Position" column
        self.position = []
        for i in range(self.datalog['ID'].max()):
            self.position.append(list(np.fromstring(self.datalog['Position'][i][1:-1], dtype=float, sep=' ')))
        self.position = np.array(self.position)
        self.datalog = self.datalog.drop(columns=['Position'])
        self.datalog = pd.concat([self.datalog, pd.DataFrame(([[i] for i in self.position]), columns = ['Position'])], axis = 1)
        
        #Creating "Velocity" column for the "0" generation
        if self.generation == 0:
            self.velocity = np.around((-(self.position - target)/step), decimals = 3)
            self.datalog = pd.concat([self.datalog, pd.DataFrame(([[i] for i in self.velocity]), columns = ['Velocity'])], axis = 1)

        
        #Creating blank "Activity" column
        self.datalog = pd.concat([self.datalog, pd.DataFrame(columns = ['Activity'], index = np.arange(self.datalog['ID'].max()))], axis = 1)      

        #Filling the "Activity" column with RFR
        self.f_activity(self.datalog)
            
        #Creating dataframe of the latest generation
        self.working_generation = self.datalog.loc[self.datalog['Generation']==self.generation]
    
    
            
    def move(self, factor_1, factor_2, factor_3):
        #Performing move function  
        self.generation += 1
        self.working_generation['Generation'] += 1
        for i in range(len(self.working_generation)):
            new_velocity = -(factor_1 * population.working_generation.at[i, 'Velocity'] + 
                        factor_2 * population.delta_gen_best((i+1), 'Activity') * population.delta_gen_best((i+1), 'Position') + 
                        factor_3 * population.delta_individual_best((i+1), 'Activity') * population.delta_individual_best((i+1), 'Position'))
            self.working_generation.at[i,'Velocity'] = new_velocity
        self.normalize_velocity()
            
        for i in range(len(self.working_generation)):    
            new_position = self.working_generation['Position'][i] + self.working_generation['Velocity'][i]
            self.working_generation.at[i,'Position'] = np.around(new_position, decimals = 3)
            
            
            
        """#Checking whether the new position cross the boundaries (UNFINISHED)
        if new_position.max() > 1 or new_position.min() < 0:
            new_position = self.working_generation['Position'][i] - self.working_generation['Velocity'][i]*size
        self.working_generation.at[i,'Position'] = np.around(new_position, decimals = 3)"""
        
        
        #Filling the "Activity" column with RFR
        self.f_activity(self.working_generation)
        
        #Concating the tables
        self.datalog = pd.concat([self.datalog, self.working_generation])
        self.datalog = self.datalog.reset_index(drop=True)
        self.store_datalog()
        return
    
    def f_activity(self, dataframe):
        global reg
        a = [0, 0, 0, 0, 0]
        for i in range(len(dataframe)):
            dataframe.at[i, 'Activity'] = float(reg.predict(np.reshape((np.hstack((dataframe.at[i, 'Position'], a))), (1, -1))))
        return 

    def store_datalog(self):
        self.datalog.to_csv("Result/Initial Population_gen "+str(self.generation)+".txt", sep='\t', index=False, mode='w')
        return
    
    def normalize_velocity(self):
        for i in range(len(self.working_generation)):
            self.working_generation.at[i, 'Velocity'] = self.working_generation.at[i, 'Velocity'] - (sum(self.working_generation.at[i, 'Velocity'])/len(self.working_generation['Elements'][0]))
            self.working_generation.at[i, 'Velocity'] = np.around(self.working_generation.at[i, 'Velocity'], decimals= 3)
        return
    
    def normalize_position(self):
        for i in range(len(self.working_generation)):
            self.working_generation.at[i, 'Position'] = self.working_generation.at[i, 'Position']/(sum(self.working_generation.at[i, 'Position']))
            self.working_generation.at[i, 'Position'] = np.around(self.working_generation.at[i, 'Position'], decimals= 3)
        return 
    
    
    def gen_best(self):
        return self.working_generation.loc[np.argmin(self.working_generation['Activity'])]
           
   
    def individual_best(self, ID):
        self.i_data = self.datalog[self.datalog['ID']==ID].reset_index(drop=True)
        return self.i_data.loc[np.argmin(self.i_data['Activity'])]
    
    def delta_gen_best(self, ID, parameter):
        return self.working_generation[self.working_generation['ID']==ID][parameter].reset_index(drop=True)[0] - self.gen_best()[parameter]
    
    def delta_individual_best(self, ID, parameter):
        return self.working_generation[self.working_generation['ID']==ID][parameter].reset_index(drop=True)[0] - self.individual_best(ID)[parameter]

In [51]:
samples_number = 6
element = ['Pt', 'Pd', 'Au']
creating_samples(samples_number, element)

   ID      Elements  Generation               Position
0   1  [Pt, Pd, Au]           0        [0.5, 0.5, 0.0]
1   2  [Pt, Pd, Au]           0        [0.5, 0.0, 0.5]
2   3  [Pt, Pd, Au]           0        [0.0, 0.5, 0.5]
3   4  [Pt, Pd, Au]           0    [0.391, 0.29, 0.32]
4   5  [Pt, Pd, Au]           0  [0.305, 0.315, 0.379]
5   6  [Pt, Pd, Au]           0  [0.484, 0.222, 0.295]

In [52]:
step = 10
target = np.array([0.333, 0.333, 0.333])
population = pso(pd.read_csv('Result/Initial Population.txt', sep='\t'), step, target)

In [53]:
population.datalog

,ID,Elements,Generation,Position,Velocity,Activity
0,1,"[Pt, Pd, Au]",0,"[0.5, 0.5, 0.0]","[-0.017, -0.017, 0.033]",-0.931174
1,2,"[Pt, Pd, Au]",0,"[0.5, 0.0, 0.5]","[-0.017, 0.033, -0.017]",-0.904198
2,3,"[Pt, Pd, Au]",0,"[0.0, 0.5, 0.5]","[0.033, -0.017, -0.017]",-0.264023
3,4,"[Pt, Pd, Au]",0,"[0.391, 0.29, 0.32]","[-0.006, 0.004, 0.001]",-1.027099
4,5,"[Pt, Pd, Au]",0,"[0.305, 0.315, 0.379]","[0.003, 0.002, -0.005]",-0.98878
5,6,"[Pt, Pd, Au]",0,"[0.484, 0.222, 0.295]","[-0.015, 0.011, 0.004]",-0.999214

In [55]:
factor_1 = 0.7
factor_2 = 1.5
factor_3 = 0.8
for i in range(20):
    population.move(factor_1, factor_2, factor_3)
    display(population.working_generation)
    print(population.gen_best()['Position'], population.gen_best()['Activity'])
    print(np.sqrt(sum((population.gen_best()['Position']-best_grid)**2)))

,ID,Elements,Generation,Position,Velocity,Activity
0,1,"[Pt, Pd, Au]",2,"[0.484, 0.467, 0.049]","[-0.012, -0.014, 0.026]",-0.934912
1,2,"[Pt, Pd, Au]",2,"[0.48, 0.056, 0.464]","[-0.012, 0.026, -0.014]",-0.908364
2,3,"[Pt, Pd, Au]",2,"[0.127, 0.432, 0.442]","[-0.297, 0.161, 0.137]",-0.77587
3,4,"[Pt, Pd, Au]",2,"[0.392, 0.289, 0.32]","[-0.003, 0.002, 0.001]",-1.027099
4,5,"[Pt, Pd, Au]",2,"[0.31, 0.313, 0.376]","[0.002, 0.001, -0.003]",-0.995911
5,6,"[Pt, Pd, Au]",2,"[0.482, 0.224, 0.296]","[-0.009, 0.007, 0.003]",-1.000147

[0.392 0.289 0.32 ] -1.027099003906248
0.09759610647971569

,ID,Elements,Generation,Position,Velocity,Activity
0,1,"[Pt, Pd, Au]",3,"[0.48, 0.452, 0.068]","[-0.004, -0.015, 0.019]",-0.937695
1,2,"[Pt, Pd, Au]",3,"[0.473, 0.079, 0.448]","[-0.007, 0.023, -0.016]",-0.908119
2,3,"[Pt, Pd, Au]",3,"[0.491, 0.235, 0.274]","[0.364, -0.197, -0.168]",-1.005892
3,4,"[Pt, Pd, Au]",3,"[0.394, 0.288, 0.319]","[0.002, -0.001, -0.001]",-1.027099
4,5,"[Pt, Pd, Au]",3,"[0.312, 0.311, 0.375]","[0.002, -0.002, -0.001]",-0.995911
5,6,"[Pt, Pd, Au]",3,"[0.485, 0.222, 0.295]","[0.003, -0.002, -0.001]",-0.999214

[0.394 0.288 0.319] -1.027099003906248
0.09550392662084634

,ID,Elements,Generation,Position,Velocity,Activity
0,1,"[Pt, Pd, Au]",4,"[0.471, 0.44, 0.088]","[-0.009, -0.012, 0.02]",-0.944226
1,2,"[Pt, Pd, Au]",4,"[0.464, 0.1, 0.436]","[-0.009, 0.021, -0.012]",-0.920975
2,3,"[Pt, Pd, Au]",4,"[0.233, 0.375, 0.393]","[-0.258, 0.14, 0.119]",-0.958475
3,4,"[Pt, Pd, Au]",4,"[0.393, 0.289, 0.32]","[-0.001, 0.001, 0.001]",-1.027099
4,5,"[Pt, Pd, Au]",4,"[0.314, 0.311, 0.373]","[0.002, 0.0, -0.002]",-0.995174
5,6,"[Pt, Pd, Au]",4,"[0.479, 0.226, 0.297]","[-0.006, 0.004, 0.002]",-1.00278

[0.393 0.289 0.32 ] -1.027099003906248
0.09690201236300515

,ID,Elements,Generation,Position,Velocity,Activity
0,1,"[Pt, Pd, Au]",5,"[0.467, 0.429, 0.102]","[-0.004, -0.011, 0.014]",-0.942329
1,2,"[Pt, Pd, Au]",5,"[0.459, 0.115, 0.426]","[-0.005, 0.015, -0.01]",-0.9382
2,3,"[Pt, Pd, Au]",5,"[0.439, 0.264, 0.299]","[0.206, -0.111, -0.094]",-1.015803
3,4,"[Pt, Pd, Au]",5,"[0.394, 0.289, 0.32]","[0.001, -0.0, -0.0]",-1.027099
4,5,"[Pt, Pd, Au]",5,"[0.316, 0.31, 0.372]","[0.002, -0.001, -0.001]",-0.995554
5,6,"[Pt, Pd, Au]",5,"[0.48, 0.225, 0.296]","[0.001, -0.001, -0.001]",-1.002075

[0.394 0.289 0.32 ] -1.027099003906248
0.09621330469326995

,ID,Elements,Generation,Position,Velocity,Activity
0,1,"[Pt, Pd, Au]",6,"[0.46, 0.418, 0.119]","[-0.007, -0.011, 0.017]",-0.942165
1,2,"[Pt, Pd, Au]",6,"[0.454, 0.128, 0.419]","[-0.005, 0.013, -0.007]",-0.998734
2,3,"[Pt, Pd, Au]",6,"[0.294, 0.342, 0.365]","[-0.145, 0.078, 0.066]",-0.975554
3,4,"[Pt, Pd, Au]",6,"[0.394, 0.289, 0.32]","[-0.0, 0.0, 0.0]",-1.027099
4,5,"[Pt, Pd, Au]",6,"[0.318, 0.31, 0.37]","[0.002, -0.0, -0.002]",-0.994413
5,6,"[Pt, Pd, Au]",6,"[0.476, 0.228, 0.297]","[-0.004, 0.003, 0.001]",-1.002904

[0.394 0.289 0.32 ] -1.027099003906248
0.09621330469326995

,ID,Elements,Generation,Position,Velocity,Activity
0,1,"[Pt, Pd, Au]",7,"[0.456, 0.409, 0.132]","[-0.004, -0.009, 0.013]",-0.939367
1,2,"[Pt, Pd, Au]",7,"[0.455, 0.126, 0.42]","[0.001, -0.002, 0.001]",-0.990072
2,3,"[Pt, Pd, Au]",7,"[0.408, 0.28, 0.313]","[0.114, -0.062, -0.052]",-1.016731
3,4,"[Pt, Pd, Au]",7,"[0.394, 0.289, 0.32]","[-0.0, -0.0, -0.0]",-1.027099
4,5,"[Pt, Pd, Au]",7,"[0.32, 0.309, 0.369]","[0.002, -0.001, -0.001]",-0.993671
5,6,"[Pt, Pd, Au]",7,"[0.476, 0.228, 0.297]","[-0.0, 0.0, 0.0]",-1.002904

[0.394 0.289 0.32 ] -1.027099003906248
0.09621330469326995

,ID,Elements,Generation,Position,Velocity,Activity
0,1,"[Pt, Pd, Au]",8,"[0.45, 0.399, 0.147]","[-0.006, -0.01, 0.015]",-0.939484
1,2,"[Pt, Pd, Au]",8,"[0.451, 0.136, 0.414]","[-0.004, 0.01, -0.006]",-0.987933
2,3,"[Pt, Pd, Au]",8,"[0.328, 0.324, 0.349]","[-0.08, 0.044, 0.036]",-0.985476
3,4,"[Pt, Pd, Au]",8,"[0.394, 0.289, 0.32]","[-0.0, -0.0, -0.0]",-1.027099
4,5,"[Pt, Pd, Au]",8,"[0.322, 0.309, 0.367]","[0.002, -0.0, -0.002]",-0.994434
5,6,"[Pt, Pd, Au]",8,"[0.473, 0.23, 0.298]","[-0.003, 0.002, 0.001]",-1.003507

[0.394 0.289 0.32 ] -1.027099003906248
0.09621330469326995

,ID,Elements,Generation,Position,Velocity,Activity
0,1,"[Pt, Pd, Au]",9,"[0.446, 0.391, 0.158]","[-0.004, -0.008, 0.011]",-0.942157
1,2,"[Pt, Pd, Au]",9,"[0.45, 0.138, 0.413]","[-0.001, 0.002, -0.001]",-0.987933
2,3,"[Pt, Pd, Au]",9,"[0.39, 0.29, 0.321]","[0.062, -0.034, -0.028]",-1.023904
3,4,"[Pt, Pd, Au]",9,"[0.394, 0.289, 0.32]","[-0.0, -0.0, -0.0]",-1.027099
4,5,"[Pt, Pd, Au]",9,"[0.324, 0.308, 0.366]","[0.002, -0.001, -0.001]",-0.994434
5,6,"[Pt, Pd, Au]",9,"[0.472, 0.231, 0.298]","[-0.001, 0.001, 0.0]",-1.003507

[0.394 0.289 0.32 ] -1.027099003906248
0.09621330469326995

,ID,Elements,Generation,Position,Velocity,Activity
0,1,"[Pt, Pd, Au]",10,"[0.442, 0.383, 0.17]","[-0.004, -0.008, 0.012]",-0.945404
1,2,"[Pt, Pd, Au]",10,"[0.447, 0.145, 0.408]","[-0.003, 0.007, -0.005]",-0.987412
2,3,"[Pt, Pd, Au]",10,"[0.347, 0.314, 0.341]","[-0.043, 0.024, 0.02]",-1.020749
3,4,"[Pt, Pd, Au]",10,"[0.394, 0.289, 0.32]","[-0.0, -0.0, -0.0]",-1.027099
4,5,"[Pt, Pd, Au]",10,"[0.326, 0.308, 0.364]","[0.002, -0.0, -0.002]",-0.994817
5,6,"[Pt, Pd, Au]",10,"[0.47, 0.232, 0.299]","[-0.002, 0.001, 0.001]",-1.003449

[0.394 0.289 0.32 ] -1.027099003906248
0.09621330469326995

,ID,Elements,Generation,Position,Velocity,Activity
0,1,"[Pt, Pd, Au]",11,"[0.439, 0.377, 0.18]","[-0.003, -0.006, 0.01]",-0.950022
1,2,"[Pt, Pd, Au]",11,"[0.446, 0.148, 0.406]","[-0.001, 0.003, -0.002]",-0.987412
2,3,"[Pt, Pd, Au]",11,"[0.378, 0.297, 0.327]","[0.031, -0.017, -0.014]",-1.02228
3,4,"[Pt, Pd, Au]",11,"[0.394, 0.289, 0.32]","[-0.0, -0.0, -0.0]",-1.027099
4,5,"[Pt, Pd, Au]",11,"[0.328, 0.307, 0.363]","[0.002, -0.001, -0.001]",-0.994581
5,6,"[Pt, Pd, Au]",11,"[0.469, 0.233, 0.299]","[-0.001, 0.001, 0.0]",-1.004624

[0.394 0.289 0.32 ] -1.027099003906248
0.09621330469326995

,ID,Elements,Generation,Position,Velocity,Activity
0,1,"[Pt, Pd, Au]",12,"[0.436, 0.371, 0.189]","[-0.003, -0.006, 0.009]",-0.957146
1,2,"[Pt, Pd, Au]",12,"[0.444, 0.154, 0.402]","[-0.002, 0.006, -0.004]",-0.986802
2,3,"[Pt, Pd, Au]",12,"[0.356, 0.309, 0.337]","[-0.022, 0.012, 0.01]",-1.019513
3,4,"[Pt, Pd, Au]",12,"[0.394, 0.289, 0.32]","[-0.0, -0.0, -0.0]",-1.027099
4,5,"[Pt, Pd, Au]",12,"[0.33, 0.307, 0.362]","[0.002, -0.0, -0.001]",-0.996249
5,6,"[Pt, Pd, Au]",12,"[0.467, 0.234, 0.3]","[-0.002, 0.001, 0.001]",-1.006728

[0.394 0.289 0.32 ] -1.027099003906248
0.09621330469326995

,ID,Elements,Generation,Position,Velocity,Activity
0,1,"[Pt, Pd, Au]",13,"[0.433, 0.366, 0.196]","[-0.003, -0.005, 0.007]",-0.957869
1,2,"[Pt, Pd, Au]",13,"[0.442, 0.158, 0.4]","[-0.002, 0.004, -0.002]",-0.986729
2,3,"[Pt, Pd, Au]",13,"[0.372, 0.3, 0.33]","[0.016, -0.009, -0.007]",-1.020645
3,4,"[Pt, Pd, Au]",13,"[0.394, 0.289, 0.32]","[-0.0, -0.0, -0.0]",-1.027099
4,5,"[Pt, Pd, Au]",13,"[0.332, 0.306, 0.361]","[0.002, -0.001, -0.001]",-0.996354
5,6,"[Pt, Pd, Au]",13,"[0.466, 0.235, 0.3]","[-0.001, 0.001, -0.0]",-1.006109

[0.394 0.289 0.32 ] -1.027099003906248
0.09621330469326995

,ID,Elements,Generation,Position,Velocity,Activity
0,1,"[Pt, Pd, Au]",14,"[0.431, 0.361, 0.203]","[-0.002, -0.005, 0.007]",-0.958971
1,2,"[Pt, Pd, Au]",14,"[0.441, 0.163, 0.397]","[-0.001, 0.005, -0.003]",-0.987475
2,3,"[Pt, Pd, Au]",14,"[0.361, 0.306, 0.335]","[-0.011, 0.006, 0.005]",-1.019513
3,4,"[Pt, Pd, Au]",14,"[0.394, 0.289, 0.32]","[-0.0, -0.0, -0.0]",-1.027099
4,5,"[Pt, Pd, Au]",14,"[0.333, 0.306, 0.36]","[0.001, -0.0, -0.001]",-0.995966
5,6,"[Pt, Pd, Au]",14,"[0.464, 0.236, 0.301]","[-0.002, 0.001, 0.001]",-1.011022

[0.394 0.289 0.32 ] -1.027099003906248
0.09621330469326995

,ID,Elements,Generation,Position,Velocity,Activity
0,1,"[Pt, Pd, Au]",15,"[0.428, 0.357, 0.21]","[-0.003, -0.004, 0.007]",-0.966566
1,2,"[Pt, Pd, Au]",15,"[0.439, 0.167, 0.395]","[-0.002, 0.004, -0.002]",-0.988023
2,3,"[Pt, Pd, Au]",15,"[0.369, 0.302, 0.331]","[0.008, -0.004, -0.004]",-1.020645
3,4,"[Pt, Pd, Au]",15,"[0.394, 0.289, 0.32]","[-0.0, -0.0, -0.0]",-1.027099
4,5,"[Pt, Pd, Au]",15,"[0.335, 0.305, 0.359]","[0.002, -0.001, -0.001]",-0.995966
5,6,"[Pt, Pd, Au]",15,"[0.464, 0.237, 0.301]","[-0.0, 0.001, -0.0]",-1.011412

[0.394 0.289 0.32 ] -1.027099003906248
0.09621330469326995

,ID,Elements,Generation,Position,Velocity,Activity
0,1,"[Pt, Pd, Au]",16,"[0.427, 0.353, 0.215]","[-0.001, -0.004, 0.005]",-0.984346
1,2,"[Pt, Pd, Au]",16,"[0.438, 0.171, 0.392]","[-0.001, 0.004, -0.003]",-0.98768
2,3,"[Pt, Pd, Au]",16,"[0.364, 0.305, 0.334]","[-0.005, 0.003, 0.003]",-1.020017
3,4,"[Pt, Pd, Au]",16,"[0.394, 0.289, 0.32]","[-0.0, -0.0, -0.0]",-1.027099
4,5,"[Pt, Pd, Au]",16,"[0.336, 0.305, 0.358]","[0.001, -0.0, -0.001]",-0.995744
5,6,"[Pt, Pd, Au]",16,"[0.463, 0.238, 0.302]","[-0.001, 0.001, 0.001]",-1.010379

[0.394 0.289 0.32 ] -1.027099003906248
0.09621330469326995

,ID,Elements,Generation,Position,Velocity,Activity
0,1,"[Pt, Pd, Au]",17,"[0.425, 0.352, 0.218]","[-0.002, -0.001, 0.003]",-0.987688
1,2,"[Pt, Pd, Au]",17,"[0.436, 0.175, 0.39]","[-0.002, 0.004, -0.002]",-0.986927
2,3,"[Pt, Pd, Au]",17,"[0.368, 0.303, 0.332]","[0.004, -0.002, -0.002]",-1.020645
3,4,"[Pt, Pd, Au]",17,"[0.394, 0.289, 0.32]","[-0.0, -0.0, -0.0]",-1.027099
4,5,"[Pt, Pd, Au]",17,"[0.338, 0.304, 0.357]","[0.002, -0.001, -0.001]",-1.004035
5,6,"[Pt, Pd, Au]",17,"[0.462, 0.239, 0.302]","[-0.001, 0.001, -0.0]",-1.011233

[0.394 0.289 0.32 ] -1.027099003906248
0.09621330469326995

,ID,Elements,Generation,Position,Velocity,Activity
0,1,"[Pt, Pd, Au]",18,"[0.424, 0.349, 0.222]","[-0.001, -0.003, 0.004]",-0.995809
1,2,"[Pt, Pd, Au]",18,"[0.435, 0.179, 0.387]","[-0.001, 0.004, -0.003]",-0.986927
2,3,"[Pt, Pd, Au]",18,"[0.366, 0.304, 0.333]","[-0.002, 0.001, 0.001]",-1.020017
3,4,"[Pt, Pd, Au]",18,"[0.394, 0.289, 0.32]","[-0.0, -0.0, -0.0]",-1.027099
4,5,"[Pt, Pd, Au]",18,"[0.338, 0.304, 0.356]","[0.0, 0.0, -0.001]",-1.004035
5,6,"[Pt, Pd, Au]",18,"[0.461, 0.239, 0.302]","[-0.001, 0.0, 0.0]",-1.011233

[0.394 0.289 0.32 ] -1.027099003906248
0.09621330469326995

,ID,Elements,Generation,Position,Velocity,Activity
0,1,"[Pt, Pd, Au]",19,"[0.423, 0.348, 0.224]","[-0.001, -0.001, 0.002]",-0.997177
1,2,"[Pt, Pd, Au]",19,"[0.433, 0.182, 0.385]","[-0.002, 0.003, -0.002]",-0.988819
2,3,"[Pt, Pd, Au]",19,"[0.368, 0.303, 0.332]","[0.002, -0.001, -0.001]",-1.020645
3,4,"[Pt, Pd, Au]",19,"[0.394, 0.289, 0.32]","[-0.0, -0.0, -0.0]",-1.027099
4,5,"[Pt, Pd, Au]",19,"[0.34, 0.303, 0.355]","[0.002, -0.001, -0.001]",-1.004035
5,6,"[Pt, Pd, Au]",19,"[0.46, 0.24, 0.302]","[-0.001, 0.001, 0.0]",-1.011233

[0.394 0.289 0.32 ] -1.027099003906248
0.09621330469326995

,ID,Elements,Generation,Position,Velocity,Activity
0,1,"[Pt, Pd, Au]",20,"[0.422, 0.346, 0.227]","[-0.001, -0.002, 0.003]",-0.999524
1,2,"[Pt, Pd, Au]",20,"[0.432, 0.185, 0.383]","[-0.001, 0.003, -0.002]",-0.988996
2,3,"[Pt, Pd, Au]",20,"[0.367, 0.304, 0.333]","[-0.001, 0.001, 0.001]",-1.020017
3,4,"[Pt, Pd, Au]",20,"[0.394, 0.289, 0.32]","[-0.0, -0.0, -0.0]",-1.027099
4,5,"[Pt, Pd, Au]",20,"[0.34, 0.303, 0.354]","[0.0, 0.0, -0.001]",-1.004035
5,6,"[Pt, Pd, Au]",20,"[0.459, 0.24, 0.302]","[-0.001, 0.0, 0.0]",-1.011233

[0.394 0.289 0.32 ] -1.027099003906248
0.09621330469326995

,ID,Elements,Generation,Position,Velocity,Activity
0,1,"[Pt, Pd, Au]",21,"[0.421, 0.345, 0.229]","[-0.001, -0.001, 0.002]",-1.000031
1,2,"[Pt, Pd, Au]",21,"[0.431, 0.188, 0.381]","[-0.001, 0.003, -0.002]",-0.989327
2,3,"[Pt, Pd, Au]",21,"[0.368, 0.303, 0.332]","[0.001, -0.001, -0.001]",-1.020645
3,4,"[Pt, Pd, Au]",21,"[0.394, 0.289, 0.32]","[-0.0, -0.0, -0.0]",-1.027099
4,5,"[Pt, Pd, Au]",21,"[0.342, 0.302, 0.353]","[0.002, -0.001, -0.001]",-1.004766
5,6,"[Pt, Pd, Au]",21,"[0.458, 0.241, 0.302]","[-0.001, 0.001, 0.0]",-1.011282

[0.394 0.289 0.32 ] -1.027099003906248
0.09621330469326995

,ID,Elements,Generation,Position,Velocity,Activity
0,1,"[Pt, Pd, Au]",8,"[0.467, 0.469, 0.063]","[-0.019, -0.02, 0.039]",-0.937853
1,2,"[Pt, Pd, Au]",8,"[0.459, 0.121, 0.418]","[-0.013, 0.01, 0.003]",-0.975796
2,3,"[Pt, Pd, Au]",8,"[0.333, 0.392, 0.275]","[-0.225, 0.047, 0.178]",-0.991545
3,4,"[Pt, Pd, Au]",8,"[0.287, 0.492, 0.221]","[-0.005, -0.008, 0.014]",-0.953691
4,5,"[Pt, Pd, Au]",8,"[0.369, 0.374, 0.257]","[-0.004, -0.004, 0.008]",-1.011998
5,6,"[Pt, Pd, Au]",8,"[0.281, 0.342, 0.379]","[0.008, 0.001, -0.008]",-0.975415

0.12404031602668548