In [1]:
import numpy as np
import pandas as pd
import quantecon as qe
from ast import literal_eval
from sklearn.ensemble import RandomForestRegressor
import ternary
import random
import plotly.figure_factory as ff
import colorsys
from matplotlib import pyplot as plt

In [81]:
def creating_samples(samples_number, random_samples_number, element):
    gen=0
    #Creating uniform samples
    uniform_samples = (-qe.simplex_grid(len(element), 1)+1)/(len(element)-1)
    uniform_number = samples_number - random_samples_number
    uniform_samples = uniform_samples[random.sample(range(0, len(uniform_samples)), uniform_number), :]
    
    #Creating random samples
    if random_samples_number > 0:
        random_samples = np.random.rand((random_samples_number), len(element))
        for i in range(random_samples_number):
            random_samples[i] = np.around(random_samples[i]/sum(random_samples[i]), decimals = 3)
        sample = np.vstack((uniform_samples, random_samples))
    else:
        sample = uniform_samples
    
    #Joining the samples
    samples = []
    for i in range(samples_number):
        samples.append(list(sample[i]))
    samples = np.array(samples)
    samples = np.around(samples, decimals = 3)
    
    #Creating "Generation" column
    generation = []
    for i in range (samples_number):
            generation.append(gen)
    
    #Creating "ID" column
    ID = np.arange(1, (samples_number+1))

    data = {'ID' : ID, 'Elements': [element], 'Generation': generation}
    df = pd.DataFrame(data=data, index = np.arange(samples_number))
    df = pd.concat([df, pd.DataFrame(([[i] for i in samples]), columns = ['Position'])], axis = 1)
    
    #Creating blank "Parameter" column
    df = pd.concat([df, pd.DataFrame(columns = ['Parameter'], index = np.arange(df['ID'].max()))], axis = 1)
    
    df.to_csv("Result/Initial Population trial.txt", sep='\t', index=False, mode='w')
    return df

In [101]:
samples_number = 10
random_samples_number = 5
element = ['Pt','Pd','Au','Ru','Rh','Ir','Re','Os']
datalog = creating_samples(samples_number, random_samples_number, element)

In [102]:
datalog

,ID,Elements,Generation,Position,Parameter
0,1,"[Pt, Pd, Au, Ru, Rh, Ir, Re, Os]",0,"[0.0, 0.143, 0.143, 0.143, 0.143, 0.143, 0.143...",NaN
1,2,"[Pt, Pd, Au, Ru, Rh, Ir, Re, Os]",0,"[0.143, 0.143, 0.143, 0.143, 0.0, 0.143, 0.143...",NaN
2,3,"[Pt, Pd, Au, Ru, Rh, Ir, Re, Os]",0,"[0.143, 0.143, 0.143, 0.143, 0.143, 0.0, 0.143...",NaN
3,4,"[Pt, Pd, Au, Ru, Rh, Ir, Re, Os]",0,"[0.143, 0.143, 0.143, 0.0, 0.143, 0.143, 0.143...",NaN
4,5,"[Pt, Pd, Au, Ru, Rh, Ir, Re, Os]",0,"[0.143, 0.0, 0.143, 0.143, 0.143, 0.143, 0.143...",NaN
5,6,"[Pt, Pd, Au, Ru, Rh, Ir, Re, Os]",0,"[0.19, 0.209, 0.158, 0.067, 0.022, 0.13, 0.041...",NaN
6,7,"[Pt, Pd, Au, Ru, Rh, Ir, Re, Os]",0,"[0.119, 0.083, 0.318, 0.123, 0.018, 0.06, 0.23...",NaN
7,8,"[Pt, Pd, Au, Ru, Rh, Ir, Re, Os]",0,"[0.117, 0.026, 0.002, 0.108, 0.235, 0.262, 0.2...",NaN
8,9,"[Pt, Pd, Au, Ru, Rh, Ir, Re, Os]",0,"[0.018, 0.196, 0.129, 0.223, 0.046, 0.2, 0.141...",NaN
9,10,"[Pt, Pd, Au, Ru, Rh, Ir, Re, Os]",0,"[0.121, 0.049, 0.148, 0.136, 0.201, 0.108, 0.0...",NaN

In [104]:
input_parameter(data = datalog, ID = 1, given_parameter = [0.2, 0.3, 0.4, 0.6, 0.8, 0.9], characteristic = 'not')

,ID,Elements,Generation,Position,Parameter
0,1,"[Pt, Pd, Au, Ru, Rh, Ir, Re, Os]",0,"[0.0, 0.143, 0.143, 0.143, 0.143, 0.143, 0.143...","[0.2, 0.3, 0.4, 0.6, 0.8, 0.9]"
1,2,"[Pt, Pd, Au, Ru, Rh, Ir, Re, Os]",0,"[0.143, 0.143, 0.143, 0.143, 0.0, 0.143, 0.143...",NaN
2,3,"[Pt, Pd, Au, Ru, Rh, Ir, Re, Os]",0,"[0.143, 0.143, 0.143, 0.143, 0.143, 0.0, 0.143...",NaN
3,4,"[Pt, Pd, Au, Ru, Rh, Ir, Re, Os]",0,"[0.143, 0.143, 0.143, 0.0, 0.143, 0.143, 0.143...",NaN
4,5,"[Pt, Pd, Au, Ru, Rh, Ir, Re, Os]",0,"[0.143, 0.0, 0.143, 0.143, 0.143, 0.143, 0.143...",NaN
5,6,"[Pt, Pd, Au, Ru, Rh, Ir, Re, Os]",0,"[0.19, 0.209, 0.158, 0.067, 0.022, 0.13, 0.041...",NaN
6,7,"[Pt, Pd, Au, Ru, Rh, Ir, Re, Os]",0,"[0.119, 0.083, 0.318, 0.123, 0.018, 0.06, 0.23...",NaN
7,8,"[Pt, Pd, Au, Ru, Rh, Ir, Re, Os]",0,"[0.117, 0.026, 0.002, 0.108, 0.235, 0.262, 0.2...",NaN
8,9,"[Pt, Pd, Au, Ru, Rh, Ir, Re, Os]",0,"[0.018, 0.196, 0.129, 0.223, 0.046, 0.2, 0.141...",NaN
9,10,"[Pt, Pd, Au, Ru, Rh, Ir, Re, Os]",0,"[0.121, 0.049, 0.148, 0.136, 0.201, 0.108, 0.0...",NaN

In [96]:
len(datalog)

10